# ==================================
# Python
# ==================================

__pycache__/
*.py[cod]
*$py.class


# ==================================
# Virtual Environment
# ==================================

venv/
env/
ENV/
.venv/


# ==================================
# Environment Variables / API Keys
# ==================================

.env
.env.*

database.json
# ==================================
# Flask
# ==================================

instance/
.webassets-cache/


# ==================================
# IDE / Editor
# ==================================

.vscode/
.idea/


# ==================================
# Operating System Files
# ==================================

.DS_Store
Thumbs.db


# ==================================
# Python Build Files
# ==================================

build/
dist/
*.egg-info/


# ==================================
# Logs
# ==================================

*.log


# ==================================
# Database
# ==================================

*.db
*.sqlite
*.sqlite3